<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ g.database }} || {{ title|default('Home', true) }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="icon" href="/static/favicon.ico" sizes="any">
  <link rel="stylesheet" href="/static/picnic.min.css">
  <link rel="stylesheet" href="/static/style.css">

  <meta name="theme-color" content="#fafafa">

</head>

<body>
    <nav>
        <form id="search" method="POST" action="/{{ g.database }}/query">
            <input id="q" type="text" name="q" value="{{ title }}" />
            <input id="referrer" type="hidden" name="referrer" value="{{ title }}" />
            <input id="sub" type="submit" value="Query" />
        </form>
    </nav>

    <main>
        <section class="flex five">
            <aside class="full fifth-1000">
                {% block subnav %}{% endblock %}
                <label for="navexpand" class="button expand">+</label>
                <input type="checkbox" class="expand" id="navexpand" name="navexpand" />
                <ul class="main">
                    <li><a href="/">[dir]</a></li>
                    <li><a href="/{{ g.database }}/"><strong>{{ primary_tag if primary_tag == '#db' else g.database }}</strong></a></li>
                    {% for tag, count in tags %}
                    <li>{{ make_link(tag)|safe }} ({{ count }})</li>
                    {% endfor %}
                </ul>
            </aside>

            <article class="full four-fifth-1000">
                {% block content %}{% endblock %}
            </article>
        </section>
    </main>

</body>

</html>
