{% extends "layout.html" %}
{% block content %}

<div class="details">
    <h2>{{ item.content }}</h2>

    <ul class="tags">
    {% for t in get_tags(item) %}
        <li>{{ make_button(t)|safe }}</li>
    {% endfor %}
    </ul>

    <table class="props">
        <tbody>
            {% for t in item_tags %}
            <tr>
                <td class="tag" colspan="2"><h3>#{{ t.tag }}</h3></td>
            </tr>
            {% for i in item.facts if i.tag == t.tag and i.prop %}
            <tr>
                <td class="prop">{{ i.prop }}</td>
                <td>{{ i.value|urlize }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
