{% extends "layout.html" %}

{% block subnav %}
{% set ns = namespace(nonempty=false) %}
{% for prop, count in props if count != full_count %}
    {% if not ns.nonempty %}
    <ul class="subnav">
    {% endif %}
    {% set ns.nonempty = true %}
        <li>{{ make_link(prop)|safe }} ({{ count }})</li>
{% endfor %}
{% if ns.nonempty %}
    </ul>
{% endif %}
{% endblock %}

{% block content %}

<ol>
    {% for i in items %}
    <li>
        <div class="item">
            <ul class="tags">
                {% for t in get_tags(i) if t not in context and t != primary_tag %}
                <li>{{ make_button(t)|safe }}</li>
                {% endfor %}
            </ul>
            <h3>
                {% if has_ref(i) %}
                    {{ make_link(i.ref)|safe }}
                {% endif %}
                {{ i.content }}
            </h3>
            <ul class="facts">
                {% for p in get_props(i)|sort if p.prop != 'id' and p.tag != 'db' %}
                <li><strong>{{ p.tag }}/{{ p.prop }}</strong> {{ p.value|urlize }}</li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ol>

{% endblock %}
