.git/
.gitignore

/venv/

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
/.stfolder/
/.stversions/

Dockerfile.test
docker-compose.test.yml
Makefile
/data/
/logs/
/dbs/

*.jdb
/temp/
