__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache/
..mypy_cache/
*.swp
.stversions/
.syncthing.*.tmp

*.jdb
/data/
/logs/
/dbs/
/temp/
Makefile.local
/jql.egg-info/
/venv/
secrets.env
